<!DOCTYPE html><head>
<title>{{ website_title }} - {% block pagetitle %}{% endblock %}</title>
{{ GENERATOR_META|raw }}
        
        {% block extra_headers %}
        {% endblock %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link href="{{ STATIC_ROOT }}assets/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_ROOT }}assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_ROOT }}assets/css/main.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_ROOT }}css/adcopy.css" rel="stylesheet" type="text/css">

<!-- IE 9 Fallback-->
<!--[if IE 9]>
		<link href="{{ STATIC_ROOT }}assets/css/ie.css" rel="stylesheet">
	<![endif]-->

<!-- GOOGLE FONTS -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400italic,700,400,300' rel='stylesheet' type='text/css'>

<!-- FAVICONS -->

<style type="text/css">
.carousel-inner img {
	min-width: 100%;
	height: auto;
}
</style>

<script type="text/javascript">
var wto = wto || [];
wto.push(['setWTID', 'spectrumautomation']);
wto.push(['webTraxs']);
(function() {
var wt = document.createElement('script');
wt.src = document.location.protocol + '//www.webtraxs.com/wt.php';
wt.type = 'text/javascript';
wt.async = true;
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(wt, s);
})();

</script>
<noscript><img src="https://www.webtraxs.com/webtraxs.php?id=spectrumautomation&st=img" alt="" /></noscript>

</head>
<body>
<!-- WRAPPER -->
<div class="wrapper"> 
  <!-- NAVBAR -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container"> 
      <!-- TOPBAR -->
      <div class="topbar">
        <!--<ul class="list-inline top-nav">
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-link dropdown-toggle btn-xs" data-toggle="dropdown"> <img src="{{ STATIC_ROOT }}assets/img/flags/United_States.png" alt="United States"> United States <span class="caret"></span> </button>
              <ul class="dropdown-menu dropdown-menu-right country-selector" role="menu">
                <li> <a href="#"><img src="{{ STATIC_ROOT }}assets/img/flags/United_States.png" alt="United States"> United States</a> </li>
                <li> <a href="#"><img src="{{ STATIC_ROOT }}assets/img/flags/Japan.png" alt="Japan"> Japan</a> </li>
                <li> <a href="#"><img src="{{ STATIC_ROOT }}assets/img/flags/China.png" alt="China"> China</a> </li>
                <li> <a href="#"><img src="{{ STATIC_ROOT }}assets/img/flags/Germany.png" alt="Germany"> Germany</a> </li>
              </ul>
            </div>
          </li>
        </ul>-->
        
        <div id="google_translate_element" style="margin-bottom:10px;"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'es,de,en,fr,it,ja,ru,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
        <div class="searchbox">
       	<form action="../../adcopysearch/" method="post">
          <div class="input-group input-group-sm">
            <input name="query" type="text" class="form-control" id="query" placeholder="search ad copies..." value="{{ searchq }}">
            <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </span> </div>
        </form>
        </div>
      </div>
      <!-- END TOPBAR -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle Navigation</span> <i class="fa fa-bars"></i> </button>
        <a href="/" class="navbar-brand navbar-logo navbar-logo-bigger">{{ website_title }}</a> </div>
      
      <!-- MAIN NAVIGATION -->
      <div id="main-nav" class="navbar-collapse collapse"> {{ DROPDOWN_MENU|raw }} </div>
      <!-- END MAIN NAVIGATION --> 
    </div>
  </nav>
  <!-- END NAVBAR --> 
  
  <!-- PAGE CONTENT -->
  <div class="page-content">
    <div class="container"> 
      <!-- div class="row" optional row --> 
      {% if can_edit %}
      <div style="height:100px;">This space is required by the editor</div>
      {% endif %}
      
      
      {% block content %}
      content goes here
      {% endblock %} 
      <!-- /div --> 
    </div>
  </div>
  
  <!-- CALL-TO-ACTION -->
  <section class="call-to-action">
    <div class="container">
      <div class="pull-left">
        <h2 class="section-heading">GET IN TOUCH</h2>
      </div>
      <div class="pull-right"> <span>Call us at (734) 522-2160 or</span>&nbsp;&nbsp; <a href="../../contact/" class="btn btn-lg btn-primary">CONTACT US</a> </div>
    </div>
  </section>
  <!-- END CALL-TO-ACTION --> 
  
  <!-- FOOTER -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4"> 
          <!-- COLUMN 1 -->
          <h3 class="sr-only">ABOUT US</h3>
          <img src="{{ STATIC_ROOT }}assets/photoshop/1_Innovation_LOGO.jpg" class="logo" alt="Spectrum">
          <p>Since 1969 Spectrum Automation Company of Livonia, Michigan has grown to be one of the world's leading manufacturers of parts feeding and handling systems.</p>
          <br>
          <address class="margin-bottom-30px">
          <ul class="list-unstyled">
            <li>34447 Schoolcraft Rd. <br />
              Livonia, Mi 48150</li>
            <li>Phone: (734) 522-2160</li>
            <li>Email: <a href="mailto:sales@spectrumautomation.com">sales@spectrumautomation.com</a></li>
          </ul>
          </address>
          <!-- END COLUMN 1 --> 
        </div>
        <div class="col-md-4"> 
          <!-- COLUMN 2 -->
          <!-- begin social media -->
          <div class="social-connect">
            <h3 class="footer-heading">GET CONNECTED</h3>
            <ul class="list-inline social-icons">
               <li> <a href="https://www.youtube.com/user/SpectrumAutomationCo" target="_blank" class="googleplus-bg"><i class="fa fa-youtube"></i></a> </li>
               <li> <a href="#" class="facebook-bg"><i class="fa cog"></i></a> </li>
              <li> <a href="#" class="twitter-bg"><i class="fa cogs"></i></a> </li>
              <li> <a href="#" class="googleplus-bg"><i class="fa cog"></i></a> </li>
              <li> <a href="#" class="rss-bg"><i class="fa cogs"></i></a> </li>
            </ul>
          </div>
          <!-- end social media -->
          <!--<h3 class="footer-heading">USEFUL LINKS</h3>-->
          <div class="row margin-bottom-30px">
            <div class="col-xs-6">
              <ul class="list-unstyled footer-nav">
                <!--<li> <a href="#">About Us</a> </li>
                <li> <a href="#">News</a> </li>
                <li> <a href="#">Community</a> </li>
                <li> <a href="#">Career</a> </li>
                <li> <a href="#">Blog</a> </li>-->
              </ul>
            </div>
            <div class="col-xs-6">
              <ul class="list-unstyled footer-nav">
                <!-- <li> <a href="#">Press Kit</a> </li>
                <li> <a href="#">FAQ</a> </li>
                <li> <a href="#">Terms</a> </li>
                <li> <a href="#">Privacy Policy</a> </li>
                <li> <a href="#">Contact Us</a> </li>-->
              </ul>
            </div>
          </div>
          <!-- END COLUMN 2 --> 
        </div>
        <div class="col-md-4"> 
          <!-- COLUMN 3 -->
          <div style="width:100px; height:63px;">&nbsp;</div>
          <p>Design, development and manufacturing innovation has been achieved for such diversified fields as automotive, farm implement, medical, hardware, food, and beverage.</p>
          <!--<div class="newsletter">
            <h3 class="footer-heading">NEWSLETTER</h3>
            <p>Get the latest update from us by subscribing to our newsletter.</p>
            <form class="newsletter-form" method="POST">
              <div class="input-group input-group-lg">
                <input type="email" class="form-control" name="email" placeholder="youremail@domain.com">
                <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-spinner fa-spin"></i><span>SUBSCRIBE</span></button>
                </span> </div>
              <div class="alert"></div>
            </form>
          </div>-->
          
          <!-- END COLUMN 3 --> 
        </div>
      </div>
    </div>
    <!-- COPYRIGHT -->
    <div class="text-center copyright"> &copy;1969-2015 Spectrum Automation, All Rights Reserved. </div>
    <!-- END COPYRIGHT --> 
  </footer>
  <!-- END FOOTER --> 
</div>
<!-- END WRAPPER --> 

<!-- JAVASCRIPTS --> 
<script src="{{ STATIC_ROOT }}assets/js/jquery-2.1.1.min.js"></script> 
<script src="{{ STATIC_ROOT }}assets/js/bootstrap.min.js"></script> 
<script src="{{ STATIC_ROOT }}assets/js/plugins/slick/slick.min.js"></script> 
<script src="{{ STATIC_ROOT }}assets/js/plugins/stellar/jquery.stellar.min.js"></script> 
<script src="{{ STATIC_ROOT }}assets/js/plugins/jquery-easypiechart/jquery.easypiechart.min.js"></script> 
<script src="{{ STATIC_ROOT }}assets/js/plugins/autohidingnavbar/jquery.bootstrap-autohidingnavbar.min.js"></script> 
<script src="{{ STATIC_ROOT }}assets/js/repute-scripts.js"></script>
</body>
</html>