{% extends 'base.html' %}

{% block extra_headers %}

{% endblock %}

{% block content %}
<h2>Contact Us</h2>
{{ message }}
<table>
	<tr>
		<td valign="top"></td>
		<td valign="top">
			<form method="post">
			<table>
				<tr>
					<td><b>Name:</b></td>
					<td><input style="width: 200px;" name="name" type="text" /></td>
				</tr>
				<tr>
					<td><b>Email:</b></td>
					<td><input style="width: 200px;" name="email" type="text" /></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>Message:</b><br/>
						<textarea style="width: 248px; height: 67px;" name="message"></textarea>
					</td>
				</tr>
				<tr>
					<td><input type="submit" value="Send" /></td>
				</tr>
			</table>
			</form>
		</td>
	</tr>
</table>
{% endblock %}