{% extends 'base.html' %}

{% block extra_headers %}

{% endblock %}

{% block content %}
<h2>Video Search</h2>

    <div align="center">        
      <p style="color:#ff0000; font-weight:bold;">{{ message|raw }}</p>
        
        <form action="../../videosearch/" method="post">
            <input type="text" style="width:250px;" name="query" value="{{ searchq }}" placeholder="Please enter a search term..."/>
            <input type="submit" name="Submit" value="Search" />
        </form>
    </div>

{{ body|raw }}

{% endblock %}