{% extends 'base.html' %}

{% block extra_headers %}

{% endblock %}

{% block content %}
<h2>Request a Quote</h2>
{{ message|raw }}
<p><a href="../inventory/quote.pdf">Click here for a printable quote form (PDF)</a></p>
<form method="post">
<table width="100%" border="0" cellspacing="3" cellpadding="0" style="/* [disabled]margin:5px; */ border-bottom: solid 4px black;">
  <tr>
    <td colspan="2" rowspan="6"><p><img src="{{ STATIC_ROOT }}images/logo.png" class="logo" alt="Spectrum"></p>
      <p>34447 Schoolcraft &#8226; Livonia, Michigan 48150<br />
        Phone: (734) 522-2160 &#8226; Fax: (734) 522-4671<br />
        WWW.SpectrumAutomation.com<br />
      Email: Sales@SpectrumAutomation.com</p></td>
    <td colspan="2" rowspan="2">&nbsp;</td>
    <td width="151">Date:</td>
    <td width="163"><input name="date" id="date" /></td>
  </tr>
  <tr>
    <td>Quote Due Date:</td>
    <td><input name="due-date" id="due-date" /></td>
  </tr>
  <tr>
    <td width="60">Agency:</td>
    <td width="288"><input name="agency" id="agency" /></td>
    <td>Will Deliver</td>
    <td><input value="yes" name="will-deliver" type="checkbox" id="will-deliver" /></td>
  </tr>
  <tr>
    <td>Salesman:</td>
    <td><input name="salesman" id="salesman" /></td>
    <td>Mail Direct</td>
    <td><input value="yes" name="mail-direct" type="checkbox" id="mail-direct" /></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td>Fax</td>
    <td><input value="yes" name="inquiryby-fax" type="checkbox" id="inquiryby-fax" /></td>
    </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  </table>
<table width="100%" style="margin:5px;border-bottom: solid 4px black;">
  <tbody>
    <tr>
      <td colspan="2">CUSTOMER:</td>
      <td colspan="2"><input name="required-Name" /></td>
      <td width="12%">ATTENTION: </td>
      <td width="18%"><input name="attention" id="attention" /></td>
      <td colspan="2">Inquiry by:</td>
    </tr>
    <tr>
      <td colspan="2">DIV. OF:</td>
      <td colspan="2"><input name="division" id="division" /></td>
      <td>REQUEST BY:</td>
      <td><input name="request-by" id="request-by" /></td>
      <td width="7%">Phone </td>
      <td width="11%"><input name="inquiry-phone" type="checkbox" id="inquiry-phone" value="yes" /></td>
    </tr>
    <tr>
      <td colspan="2">ADDRESS:</td>
      <td colspan="2"><input name="Address" /></td>
      <td>INQUIRY #:</td>
      <td><input name="Inquiry-#" /></td>
      <td>Mail</td>
      <td><input name="inquiry-mail" type="checkbox" id="inquiry-mail" value="yes" /></td>
    </tr>
    <tr>
      <td colspan="2">CITY, STATE:</td>
      <td colspan="2"><input name="City" />
        ,
        <select size="1" name="state">
          <option value="Alabama" selected="selected">Alabama</option>
          <option value="Alaska">Alaska</option>
          <option value="Arizona">Arizona</option>
          <option value="Arkansas">Arkansas</option>
          <option value="California">California</option>
          <option value="Colorado">Colorado</option>
          <option value="Connecticut">Connecticut</option>
          <option value="Delaware">Delaware</option>
          <option value="Florida">Florida</option>
          <option value="Georgia">Georgia</option>
          <option value="Hawaii">Hawaii</option>
          <option value="Idaho">Idaho</option>
          <option value="Illinois">Illinois</option>
          <option value="Indiana">Indiana</option>
          <option value="Iowa">Iowa</option>
          <option value="Kansas">Kansas</option>
          <option value="Kentucy">Kentucky</option>
          <option value="Louisiana">Louisiana</option>
          <option value="Maine">Maine</option>
          <option value="Maryland">Maryland</option>
          <option value="Massachusettes">Massachusettes</option>
          <option value="Michigan">Michigan</option>
          <option value="Minnesota">Minnesota</option>
          <option value="Mississippi">Mississippi</option>
          <option value="Missouri">Missouri</option>
          <option value="Montana">Montana</option>
          <option value="Nebraska">Nebraska</option>
          <option value="Nevada">Nevada</option>
          <option value="New Hampshire">New                 Hampshire</option>
          <option value="New Jersey">New Jersey</option>
          <option value="New Mexico">New Mexico</option>
          <option value="New York">New York</option>
          <option value="North Carolina">North Carolina</option>
          <option value="North Dakota">North Dakota</option>
          <option value="Ohio">Ohio</option>
          <option value="Oklahoma">Oklahoma</option>
          <option value="Oregon">Oregon</option>
          <option value="Pennsylvania">Pennsylvania</option>
          <option value="Rhode Island">Rhode Island</option>
          <option value="South Carolina">South Carolina</option>
          <option value="South Dakota">South Dakota</option>
          <option value="Tennessee">Tennessee</option>
          <option value="Texas">Texas</option>
          <option value="Utah">Utah</option>
          <option value="Vermont">Vermont</option>
          <option value="Virgina">Virgina</option>
          <option value="Washington">Washington</option>
          <option value="West Virginia">West Virginia</option>
          <option value="Wisconsin">Wisconsin</option>
          <option value="Wyoming">Wyoming</option>
          <option value="Other">Other</option>
        </select></td>
      <td>USER:</td>
      <td><input name="User" /></td>
      <td>Rep</td>
      <td><input name="inquiry-rep" type="checkbox" id="inquiry-rep" value="yes" /></td>
    </tr>
    <tr>
      <td width="4%">ZIP:</td>
      <td width="15%"><input size="5" name="Zip-code" /></td>
      <td width="7%">PHONE: </td>
      <td width="26%">(
        <input size="3" name="phone-p1" id="phone-p1" />
        )
        <input size="3" name="phone-p2" id="phone-p2" />
        <input size="7" name="phone-p3" id="phone-p3" /></td>
      <td>FAX:</td>
      <td>(
        <input size="3" name="fax-p1" id="fax-p1" />
      )
        <input size="3" name="fax-p2" id="fax-p2" />
        <input size="7" name="fax-p3" id="fax-p3" /></td>
      <td>Fax</td>
      <td><input name="inquiry-fax" type="checkbox" id="inquiry-fax" value="yes" /></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input name="required-email" /></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Email</td>
      <td><input name="inquiry-email" type="checkbox" id="inquiry-email" value="yes" checked /></td>
    </tr>
  </tbody>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="50%" align="left" valign="top"><table width="100%" border="0" align="center">
          <tbody>
            <tr>
              <td colspan="6"><SPAN style="text-decoration:underline;">SPECIFICATIONS:</SPAN></td>
            </tr>
            <tr>
              <td colspan="6">Number of Machines Required:
                <input size="7" name="machines-required" id="machines-required" />
                Del. Req
                <input value="yes" name="del-req" type="checkbox" id="del-req" /></td>
            </tr>
            <tr>
              <td width="35%" rowspan="5" valign="top">Storage</td>
              <td colspan="5"> 
                <input size="7" name="Storage" />
                Pieces</td>
            </tr>
            <tr>
              <td colspan="5"> <input size="7" name="hours" />
                Hours
                </td>
            </tr>
            <tr>
              <td colspan="5"> <input size="7" name="cuft" />
                Cu.Ft.
              </td>
            </tr>
            <tr>
              <td colspan="5"><input size="7" name="sec-cycle-load-time" />
                Sec/Cycle               Load Time</td>
            </tr>
            <tr>
              <td colspan="5"><input size="7" name="sec-cycle-total" />
                Sec/Cycle               (Total)
                </td>
            </tr>
            <tr>
              <td colspan="6" valign="top">Production Rate  
(actual total)</td>
            </tr>
            <tr>
              <td valign="top"> 
                <input size="7" name="actual-total" />
Pieces/Minute</td>
              <td colspan="5"> 
                <input size="7" name="pieces-hour" />
Pieces/Hour</td>
            </tr>
            <tr>
              <td colspan="6" valign="top"> 
                <input value="yes" name="C1" type="checkbox" />
              Bulk Feed Only</td>
            </tr>
            <tr>
              <td valign="top">Number of Paths:</td>
              <td colspan="5"> 
                <input size="7" name="Number-of-paths-on" />
                on 
                <input size="7" name="Number-of-paths-centers" />
                &quot;               Centers</td>
            </tr>
            <tr>
              <td>Part               Discharge Height:</td>
              <td colspan="5"> 
                <input size="7" name="part-discharge-height" /></td>
            </tr>
            <tr>
              <td>Paint Color and Spec.:</td>
              <td colspan="5"> 
                <input size="7" name="paint-color" id="paint-color" /></td>
            </tr>
            <tr>
              <td>Prime Color and Spec:</td>
              <td colspan="5"> 
                <input size="7" name="prime-color" id="prime-color" /></td>
            </tr>
            <tr>
              <td colspan="6">Orientation: (*)</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="Diameter-to-diameter" type="checkbox" />
                Diameter               to diameter</td>
              <td width="47%" colspan="4" rowspan="11">  </td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="end-to-end" type="checkbox" />
                End to End</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="side-to-side" type="checkbox" />
                Side to Side</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="rolling" type="checkbox" />
                Rolling</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="sliding" type="checkbox" />
                Sliding</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="axis-horizontal" type="checkbox" />
                Axis Horizontal</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="axis-vertical" type="checkbox" id="axis-vertical" />
                Axis Vertical</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="axis" type="checkbox" />
                Axis
                <input size="3" name="deg-from-horizontal" />
                Deg. from Horizontal</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="face-selected" type="checkbox" />
                Face Selected (*)</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="end-selected" type="checkbox" />
                End Selected (*)</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="radial" type="checkbox" />
                Radially Controlled (*)</td>
            </tr>
            <tr>
              <td colspan="6" valign="top" style="margin:5px;border-top: solid 4px black;">Describe operation being fed:  </td>
            </tr>
            <tr>
              <td colspan="6" valign="top"><textarea name="Describe-Operation-being-fed" cols="50" rows="10"></textarea></td>
            </tr>
            <tr>
              <td colspan="6" valign="top"> 
                <input value="yes" name="customer-specs" type="checkbox" id="customer-specs" />
                Customer Specs. (Provide Copy)</td>
            </tr>
            <tr>
              <td colspan="6" valign="top"> 
                <input value="yes" name="drawings" type="checkbox" id="drawings" />
                Drawings - Customer Provided Paper</td>
            </tr>
            <tr>
              <td colspan="6" valign="top"> 
                <input value="yes" name="similar-adcopy" type="checkbox" id="similar-adcopy" />
                Similar to ad copy #
                <input size="7" name="similar-adcopynum" id="similar-adcopynum" /></td>
            </tr>
            <tr>
              <td colspan="6" valign="top"> 
                <input value="yes" name="similar-specnum" type="checkbox" id="similar-specnum" />
                Similar to Spectrum Ser. #
                <input size="7" name="similar-specsernum" id="similar-specsernum" /></td>
            </tr>
            <tr>
              <td colspan="6" valign="top">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="6" valign="top">Form #10634 - Quotation Request Form</td>
            </tr>
          </tbody>
        </table></td>
      <td width="50%" align="left" valign="top"><table width="100%" border="0" align="center" style="margin:5px;">
          <tbody>
            <tr>
              <td colspan="6"><SPAN style="text-decoration:underline;">PART</span></td>
            </tr>
            <tr>
              <td width="70">NAME:</td>
              <td colspan="5"> 
                <input size="30" name="Part-name" /></td>
            </tr>
            <tr>
              <td>NUMBER:</td>
              <td colspan="5"> 
                <input size="15" name="Part-number" /></td>
            </tr>
            <tr>
              <td>PRINTS</td>
              <td colspan="5"> 
                <input size="15" name="Part-prints" /> 
              <a href="https://www.dropbox.com/request/OZptH7fA4qtL7V07Kg1L?oref=e">UPLOAD PRINTS</a></td>
            </tr>
            <tr>
              <td>SAMPLES</td>
              <td colspan="5"> 
                <input size="15" name="Part-samples" /></td>
            </tr>
            <tr>
              <td>RETURN</td>
              <td colspan="5"> 
                <input size="15" name="Part-return" /></td>
            </tr>
          </tbody>
        </table>
        <table width="100%" border="0" align="center" style="margin:5px;border-bottom: solid 4px black;">
          <tbody>
            <tr>
              <td colspan="3">OPERATION RECEIVED FROM: (*)</td>
            </tr>
            <tr>
              <td colspan="3">CONDITION</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="dry" type="checkbox" />
                DRY</td>
              <td width="60%"> 
                <input value="yes" name="clean" type="checkbox" />
                CLEAN</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="wet" type="checkbox" />
                WET</td>
              <td> 
                <input value="yes" name="dirty" type="checkbox" />
                DIRTY</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="oil-scum" type="checkbox" />
                OIL SCUM</td>
              <td> 
                <input value="yes" name="delicate" type="checkbox" />
                DELICATE</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="oil-dripping" type="checkbox" />
                OIL DRIPPING</td>
              <td> 
                <input value="yes" name="burrs" type="checkbox" />
                BURRS</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="soft" type="checkbox" />
                SOFT</td>
              <td> 
                <input value="yes" name="chips" type="checkbox" />
                CHIPS</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="hard" type="checkbox" />
                HARD</td>
              <td> 
                <input value="yes" name="tramp" type="checkbox" />
                TRAMP (*)</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="magnetized" type="checkbox" />
                MAGNETIZED</td>
              <td> 
                <input value="yes" name="mixed-parts" type="checkbox" />
                MIXED PARTS (*)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td> 
                <input value="yes" name="special-coatings" type="checkbox" />
                SPECIAL COATINGS (*)</td>
            </tr>
          </tbody>
        </table>
        <table width="100%" border="0" align="center">
          <tbody>
            <tr>
              <td colspan="5"><SPAN style="text-decoration:underline;">NEEDS:</SPAN></td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="Needs-track" type="checkbox" />
                TRACK</td>
              <td colspan="2"> 
                <input value="yes" name="Needs-clean-out-door" type="checkbox" />
                CLEANOUT DOOR</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="Needs-track-switch" type="checkbox" />
                TRACK SWITCH</td>
              <td colspan="2"> 
                <input value="yes" name="Needs-bin-elevator-covers" type="checkbox" />
                BIN &amp; ELEVATOR COVERS</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="Needs-escapement" type="checkbox" />
                ESCAPEMENT</td>
              <td colspan="2"> 
                <input value="yes" name="Needs-oil-drip-pan" type="checkbox" />
                OIL DRIP PAN</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="Needs-wire-to-j-box" type="checkbox" />
                WIRE TO J-BOX</td>
              <td colspan="2">  
                <input value="yes" name="Needs-gentle-handling" type="checkbox" id="Needs-gentle-handling" />
                GENTLE HANDLING</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-electrical-controls" type="checkbox" />
                ELECTRICAL CONTROLS</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-electrical-design" type="checkbox" id="Needs-electrical-design" />
                ELECTRICAL DESIGN ONLY</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-JIC" type="checkbox" />
                JIC</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-noise-control" type="checkbox" />
                NOISE CONTROL:  
                <!--webbot bot="Validation" s-display-name="dba @" s-data-type="String" b-allow-letters="TRUE" b-allow-digits="TRUE" -->
                
                <input size="7" name="dBA" />
                dBA               @  
                <!--webbot bot="Validation" s-display-name="dba feet" s-data-type="String" b-allow-letters="TRUE" b-allow-digits="TRUE" -->
                
                <input size="7" name="feet" />
                feet</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-casters-floor-locks" type="checkbox" />
                CASTERS-FLOOR LOCKS</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="Needs-Gon-support-stand" type="checkbox" />
                GON SUPPORT STAND</td>
              <td colspan="2"> 
                <input size="7" name="Size-of-Gon" />
                Size of               Gon</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="Needs-Gon-dumper" type="checkbox" />
                GONDOLA DUMPER</td>
              <td colspan="2"> 
                <input size="7" name="max-wt-of-Gon" />
                Max Wt of               Gon</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-conveyor" type="checkbox" />
                CONVEYOR</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-load-place" type="checkbox" />
                LOAD PLACE</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-inspect-sort" type="checkbox" />
                INSPECT SORT (*)</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="Needs-weigh-and-dump" type="checkbox" />
                WEIGH AND DUMP:</td>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td> </td>
              <td colspan="3"> 
                <input size="7" name="Needs-dumps-hour" />
                dumps/hour</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td colspan="3"> 
                <input size="7" name="Needs-lbs-dump" />
                lbs/dump</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td colspan="3"> 
                <input size="7" name="Needs-lbs-hour" />
                lbs/hour</td>
            </tr>
          </tbody>
        </table>
        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input name="submit" value="Send Information" type="submit" />
        <input name="reset" value=" Clear Form - Start Over" type="reset" /></td>
    </tr>
  </table>
</form>
{% endblock %}