{% extends 'base.html' %}

{% block extra_headers %}

{% endblock %}

{% block content %}
<h2>Request a Quote</h2>
{{ message|raw }}
<p><a href="../inventory/quote.pdf">Click here for a printable quote form (PDF)</a></p>
<form method="post">
  <table border="0" align="center">
    <tbody>
      <tr>
        <td> Your Name </td>
        <td colspan="4"> 
          <input name="required-Name" /></td>
      </tr>
      <tr>
        <td>E-mail</td>
        <td colspan="5"> 
          <input name="required-email" /></td>
      </tr>
      <tr>
        <td>Company Name</td>
        <td colspan="5"> 
          <input name="Company-Name" /></td>
      </tr>
      <tr>
        <td>Division Of</td>
        <td colspan="5"> 
          <input name="division" id="division" /></td>
      </tr>
      <tr>
        <td>Inquiry #</td>
        <td colspan="5"> 
          <input name="Inquiry-#" /></td>
      </tr>
      <tr>
        <td>User</td>
        <td colspan="5"> 
          <input name="User" /></td>
      </tr>
      <tr>
        <td>Address</td>
        <td colspan="5"> 
          <input name="Address" /></td>
      </tr>
      <tr>
        <td>City</td>
        <td colspan="5"> 
          <input name="City" /></td>
      </tr>
      <tr>
        <td>State</td>
        <td colspan="5"> 
          <select size="1" name="state">
            <option value="Alabama" selected="selected">Alablama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois">Illinois</option>
            <option value="Indiana">Indiana</option>
            <option value="Iowa">Iowa</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucy">Kentucky</option>
            <option value="Louisiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusettes">Massachusettes</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana">Montana</option>
            <option value="Nebraska">Nebraska</option>
            <option value="Nevada">Nevada</option>
            <option value="New Hampshire">New                 Hampshire</option>
            <option value="New Jersey">New Jersey</option>
            <option value="New Mexico">New Mexico</option>
            <option value="New York">New York</option>
            <option value="North Carolina">North Carolina</option>
            <option value="North Dakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option>
            <option value="Pennsylvania">Pennsylvania</option>
            <option value="Rhode Island">Rhode Island</option>
            <option value="South Carolina">South Carolina</option>
            <option value="South Dakota">South Dakota</option>
            <option value="Tennessee">Tennessee</option>
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option>
            <option value="Virgina">Virgina</option>
            <option value="Washington">Washington</option>
            <option value="West Virginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
            <option value="Other">Other</option>
          </select></td>
      </tr>
      <tr>
        <td>Country</td>
        <td colspan="5"> 
          <input name="Country" /></td>
      </tr>
      <tr>
        <td>Postal               Zip Code</td>
        <td colspan="5"> 
          <input size="5" name="Zip-code" /></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td colspan="5"> 
          <input size="3" name="Area-code" />
          <input size="3" name="Prefix" />
          <input size="7" name="Phonenumber" /></td>
      </tr>
      <tr>
        <td colspan="6"><h4><strong><u>Specifications</u></strong></h4></td>
      </tr>
      <tr>
        <td rowspan="5" valign="top">Storage</td>
        <td colspan="5"> 
          <input size="7" name="Storage" />
          pieces</td>
      </tr>
      <tr>
        <td colspan="5"> 
          <input size="7" name="cuft" />
          cu.ft.</td>
      </tr>
      <tr>
        <td colspan="5"> 
          <input size="7" name="hours" />
          hours</td>
      </tr>
      <tr>
        <td colspan="5"> 
          <input size="7" name="sec-cycle-total" />
          sec/cycle               (total)</td>
      </tr>
      <tr>
        <td colspan="5"> 
          <input size="7" name="sec-cycle-load-time" />
          sec/cycle               load time</td>
      </tr>
      <tr>
        <td rowspan="3" valign="top">Production Rate  <br />
          (actual total)</td>
        <td colspan="5"> 
          <input size="7" name="actual-total" />
          pieces/minute</td>
      </tr>
      <tr>
        <td colspan="5"> 
          <input size="7" name="pieces-hour" />
          pieces/hour</td>
      </tr>
      <tr>
        <td colspan="5"> 
          <input value="yes" name="C1" type="checkbox" />
          bulk feed               only</td>
      </tr>
      <tr>
        <td rowspan="2" valign="top">Number of paths</td>
        <td colspan="5"> 
          <input size="7" name="Number-of-paths-on" />
          on</td>
      </tr>
      <tr>
        <td colspan="5"> 
          <input size="7" name="Number-of-paths-centers" />
          &quot;               centers</td>
      </tr>
      <tr>
        <td>part               discharge height</td>
        <td colspan="5"> 
          <input size="7" name="part-discharge-height" /></td>
      </tr>
      <tr>
        <td colspan="6"><h4><strong><u>Please check all that         apply:</u></strong></h4></td>
      </tr>
      <tr>
        <td colspan="6"><h4><strong><u>Orientation</u></strong></h4></td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="end-to-end" type="checkbox" />
          end to               end</td>
        <td colspan="4"> 
          <input value="yes" name="Diameter-to-diameter" type="checkbox" />
          Diameter               to diameter</td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="side-to-side" type="checkbox" />
          side to               side</td>
        <td colspan="4"> 
          <input value="yes" name="rolling" type="checkbox" />
          rolling</td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="sliding" type="checkbox" />
          sliding</td>
        <td colspan="4">  </td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="axis" type="checkbox" />
          axis</td>
        <td colspan="4"> 
          <input value="yes" name="axis-horizontal" type="checkbox" />
          axis               horizontal</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="4"> 
          <input value="yes" name="axis-vertical" type="checkbox" />
          axis               vertical</td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="radial" type="checkbox" />
          radial</td>
        <td colspan="4"> 
          <input value="yes" name="face-selected" type="checkbox" />
          face               selected</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="4"> 
          <input value="yes" name="end-selected" type="checkbox" />
          end               selected</td>
      </tr>
      <tr>
        <td colspan="6">  
          <!--webbot bot="Validation" s-display-name="deg from horiz" s-data-type="Integer" s-number-separators="x" -->
          
          <input size="3" name="deg-from-horizontal" />
          deg from               horizontal  </td>
      </tr>
      <tr>
        <td valign="top">Describe Operation being fed:</td>
        <td colspan="5" valign="top"> 
          <textarea name="Describe-Operation-being-fed" rows="10"></textarea></td>
      </tr>
      <tr>
        <td colspan="6"><h4><strong><u>Part</u></strong></h4></td>
      </tr>
      <tr>
        <td>name</td>
        <td colspan="5"> 
          <input size="7" name="Part-name" /></td>
      </tr>
      <tr>
        <td>number</td>
        <td colspan="5"> 
          <input size="7" name="Part-number" /></td>
      </tr>
      <tr>
        <td>prints</td>
        <td colspan="5"> 
          <input size="7" name="Part-prints" /></td>
      </tr>
      <tr>
        <td>samples</td>
        <td colspan="5"> 
          <input size="7" name="Part-samples" /></td>
      </tr>
      <tr>
        <td>return</td>
        <td colspan="5"> 
          <input size="7" name="Part-return" /></td>
      </tr>
      <tr>
        <td rowspan="3" valign="top">Operation received from</td>
        <td colspan="5"> 
          <input value="yes" name="tramp" type="checkbox" />
          tramp</td>
      </tr>
      <tr>
        <td colspan="5"> 
          <input value="yes" name="mixed-parts" type="checkbox" />
          mixed               parts</td>
      </tr>
      <tr>
        <td colspan="5"> 
          <input value="yes" name="special-coatings" type="checkbox" />
          special               coatings</td>
      </tr>
      <tr>
        <td colspan="6"><h4><strong><u>Condition</u></strong></h4></td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="dry" type="checkbox" />
          dry</td>
        <td colspan="2"> 
          <input value="yes" name="wet" type="checkbox" />
          wet</td>
        <td colspan="2"> 
          <input value="yes" name="oil-scum" type="checkbox" />
          oil               scum</td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="oil-dripping" type="checkbox" />
          oil               dripping</td>
        <td colspan="2"> 
          <input value="yes" name="soft" type="checkbox" />
          soft</td>
        <td colspan="2"> 
          <input value="yes" name="hard" type="checkbox" />
          hard</td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="magnetized" type="checkbox" />
          magnetized</td>
        <td colspan="2"> 
          <input value="yes" name="clean" type="checkbox" />
          clean</td>
        <td colspan="2"> 
          <input value="yes" name="dirty" type="checkbox" />
          dirty</td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="delicate" type="checkbox" />
          delicate</td>
        <td colspan="2"> 
          <input value="yes" name="chips" type="checkbox" />
          chips</td>
        <td colspan="2"> 
          <input value="yes" name="burrs" type="checkbox" />
          burrs</td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="tramp" type="checkbox" />
          tramp</td>
        <td colspan="2"> 
          <input value="yes" name="mixed-parts" type="checkbox" />
          mixed               parts</td>
        <td colspan="2"> 
          <input value="yes" name="special-coatings" type="checkbox" />
          special               coatings</td>
      </tr>
      <tr>
        <td valign="top">Describe parts:</td>
        <td valign="top" colspan="5"> 
          <textarea name="Describe-Parts" rows="10" style="width:500px;"></textarea></td>
      </tr>
      <tr>
        <td colspan="6"><h4><strong><u>Needs</u></strong></h4></td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="Needs-track" type="checkbox" />
          track</td>
        <td colspan="2"> 
          <input value="yes" name="Needs-track-switch" type="checkbox" />
          track               switch</td>
        <td colspan="2"> 
          <input value="yes" name="Needs-clean-out-door" type="checkbox" />
          clean out               door</td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="Needs-escapement" type="checkbox" />
          escapement</td>
        <td colspan="2"> 
          <input value="yes" name="Needs-bin-elevator-covers" type="checkbox" />
          bin &amp;               elevator covers</td>
        <td colspan="2"> 
          <input value="yes" name="Needs-oil-drip-pan" type="checkbox" />
          oil drip               pan</td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="Needs-wire-to-j-box" type="checkbox" />
          wire to               j-box</td>
        <td colspan="2"> 
          <input value="yes" name="Needs-electrical-controls" type="checkbox" />
          electrical controls</td>
        <td colspan="2"> 
          <input value="yes" name="Needs-JIC" type="checkbox" />
          JIC</td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="Needs-noise-control" type="checkbox" />
          noise control</td>
        <td colspan="2">  
          <!--webbot bot="Validation" s-display-name="dba @" s-data-type="String" b-allow-letters="TRUE" b-allow-digits="TRUE" -->
          
          <input size="7" name="dBA" />
          dBA               @</td>
        <td colspan="2">  
          <!--webbot bot="Validation" s-display-name="dba feet" s-data-type="String" b-allow-letters="TRUE" b-allow-digits="TRUE" -->
          
          <input size="7" name="feet" />
          feet</td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="Needs-casters-floor-locks" type="checkbox" />
          casters-floor locks</td>
        <td colspan="2"> 
          <input value="yes" name="Needs-conveyor" type="checkbox" />
          conveyor</td>
        <td colspan="2"> 
          <input value="yes" name="Needs-inspect-sort" type="checkbox" />
          inspect               sort</td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="Needs-Gon-support-stand" type="checkbox" />
          Gon support stand</td>
        <td colspan="4"> 
          <input size="7" name="Size-of-Gon" />
          size of               Gon</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="4"> 
          <input size="7" name="max-wt-of-Gon" />
          max wt of               Gon</td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="Needs-Gon-dumper" type="checkbox" />
          Gon               dumper</td>
        <td colspan="4"> 
          <input value="yes" name="Needs-load-place" type="checkbox" />
          load               place</td>
      </tr>
      <tr>
        <td colspan="2"> 
          <input value="yes" name="Needs-weigh-and-dump" type="checkbox" />
          weigh and dump</td>
        <td colspan="4"> 
          <input size="7" name="Needs-dumps-hour" />
          dumps/hour</td>
      </tr>
      <tr>
        <td colspan="2" rowspan="2">  </td>
        <td colspan="5"> 
          <input size="7" name="Needs-lbs-dump" />
          lbs/dump</td>
      </tr>
      <tr>
        <td colspan="5"> 
          <input size="7" name="Needs-lbs-hour" />
          lbs/hour</td>
      </tr>
      <tr>
        <td colspan="7" align="center"><input name="submit" value="Send Information" type="submit" />
          <input name="reset" value=" Clear Form - Start Over" type="reset" /></td>
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}