{% extends 'base.html' %}

{% block extra_headers %}

{% endblock %}

{% block content %}
<h2>Request a Quote</h2>
{{ message|raw }}
<p><a href="../inventory/quote.pdf">Click here for a printable quote form (PDF)</a></p>
<form method="post">
<table width="100%" border="0" cellspacing="3" cellpadding="0" style="/* [disabled]margin:5px; */ border-bottom: solid 4px black;">
  <tr>
    <td colspan="2" rowspan="8"><p><img src="{{ STATIC_ROOT }}images/logo.png" class="logo" alt="Spectrum"></p>
      <p>34447 Schoolcraft &#8226; Livonia, Michigan 48150<br />
        Phone: (734) 522-2160 &#8226; Fax: (734) 522-4671<br />
        WWW.SpectrumAutomation.com<br />
      Email: Sales@SpectrumAutomation.com</p></td>
    <td colspan="2" rowspan="2">&nbsp;</td>
    <td width="94">Date:</td>
    <td width="220"><input name="date" id="date" /></td>
  </tr>
  <tr>
    <td>Due Date:</td>
    <td><input name="due-date" id="due-date" /></td>
  </tr>
  <tr>
    <td width="79">Agency:</td>
    <td width="288"><input name="agency" id="agency" /></td>
    <td>Will Deliver</td>
    <td><input value="yes" name="will-deliver" type="checkbox" id="will-deliver" /></td>
  </tr>
  <tr>
    <td>Salesman:</td>
    <td><input name="salesman" id="salesman" /></td>
    <td>Mail Direct</td>
    <td><input value="yes" name="mail-direct" type="checkbox" id="mail-direct" /></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td>Fax</td>
    <td><input value="yes" name="inquiryby-fax" type="checkbox" id="inquiryby-fax" /></td>
    </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td>Email</td>
    <td><input name="inquiryby-email" type="checkbox" id="inquiryby-email" value="yes" checked="checked" /></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td>Web</td>
    <td><input name="inquiryby-web" type="checkbox" id="inquiryby-web" value="yes" checked="checked" /></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" style="margin:5px;border-bottom: solid 4px black;">
  <tbody>
    <tr>
      <td colspan="2">Customer:</td>
      <td colspan="2"><input name="required-Name" /></td>
      <td width="9%">Attention:</td>
      <td width="43%"><input name="attention" id="attention" /></td>
    </tr>
    <tr>
      <td colspan="2">Company Name:</td>
      <td colspan="2"><input name="Company-Name" /></td>
      <td rowspan="2">Request By: </td>
      <td rowspan="2"><input name="request-by" id="request-by" /></td>
    </tr>
    <tr>
      <td colspan="2">Div. Of:</td>
      <td colspan="2"><input name="division" id="division" /></td>
    </tr>
    <tr>
      <td colspan="2">Address:</td>
      <td colspan="2"><input name="Address" /></td>
      <td>Inquiry #:</td>
      <td><input name="Inquiry-#" /></td>
    </tr>
    <tr>
      <td colspan="2">City, State:</td>
      <td colspan="2"><input name="City" />
        ,
        <select size="1" name="state">
          <option value="Alabama" selected="selected">Alabama</option>
          <option value="Alaska">Alaska</option>
          <option value="Arizona">Arizona</option>
          <option value="Arkansas">Arkansas</option>
          <option value="California">California</option>
          <option value="Colorado">Colorado</option>
          <option value="Connecticut">Connecticut</option>
          <option value="Delaware">Delaware</option>
          <option value="Florida">Florida</option>
          <option value="Georgia">Georgia</option>
          <option value="Hawaii">Hawaii</option>
          <option value="Idaho">Idaho</option>
          <option value="Illinois">Illinois</option>
          <option value="Indiana">Indiana</option>
          <option value="Iowa">Iowa</option>
          <option value="Kansas">Kansas</option>
          <option value="Kentucy">Kentucky</option>
          <option value="Louisiana">Louisiana</option>
          <option value="Maine">Maine</option>
          <option value="Maryland">Maryland</option>
          <option value="Massachusettes">Massachusettes</option>
          <option value="Michigan">Michigan</option>
          <option value="Minnesota">Minnesota</option>
          <option value="Mississippi">Mississippi</option>
          <option value="Missouri">Missouri</option>
          <option value="Montana">Montana</option>
          <option value="Nebraska">Nebraska</option>
          <option value="Nevada">Nevada</option>
          <option value="New Hampshire">New                 Hampshire</option>
          <option value="New Jersey">New Jersey</option>
          <option value="New Mexico">New Mexico</option>
          <option value="New York">New York</option>
          <option value="North Carolina">North Carolina</option>
          <option value="North Dakota">North Dakota</option>
          <option value="Ohio">Ohio</option>
          <option value="Oklahoma">Oklahoma</option>
          <option value="Oregon">Oregon</option>
          <option value="Pennsylvania">Pennsylvania</option>
          <option value="Rhode Island">Rhode Island</option>
          <option value="South Carolina">South Carolina</option>
          <option value="South Dakota">South Dakota</option>
          <option value="Tennessee">Tennessee</option>
          <option value="Texas">Texas</option>
          <option value="Utah">Utah</option>
          <option value="Vermont">Vermont</option>
          <option value="Virgina">Virgina</option>
          <option value="Washington">Washington</option>
          <option value="West Virginia">West Virginia</option>
          <option value="Wisconsin">Wisconsin</option>
          <option value="Wyoming">Wyoming</option>
          <option value="Other">Other</option>
        </select></td>
      <td>User:</td>
      <td><input name="User" /></td>
    </tr>
    <tr>
      <td width="4%">Zip:</td>
      <td width="10%"><input size="5" name="Zip-code" /></td>
      <td width="6%">Phone:</td>
      <td width="28%"><input size="3" name="Area-code" />
        <input size="3" name="Prefix" />
        <input size="7" name="Phonenumber" /></td>
      <td>Fax:</td>
      <td><input size="3" name="fax-Area-code" id="fax-Area-code" />
        <input size="3" name="fax-Prefix " id="fax-Prefix " />
        <input size="7" name="Faxnumber" id="Faxnumber" /></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input name="required-email" /></td>
      <td colspan="4">&nbsp;</td>
    </tr>
  </tbody>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="50%" align="left" valign="top"><table width="100%" border="0" align="center">
          <tbody>
            <tr>
              <td colspan="6"><h4><strong>SPECIFICATIONS</strong></h4></td>
            </tr>
            <tr>
              <td colspan="6">Number of Machines Required:
                <input size="7" name="machines-required" id="machines-required" />
                <input value="yes" name="del-req" type="checkbox" id="del-req" />
                Del. Req</td>
            </tr>
            <tr>
              <td width="29%" rowspan="5" valign="top">Storage</td>
              <td colspan="5"> 
                <input size="7" name="Storage" />
                Pieces</td>
            </tr>
            <tr>
              <td colspan="5"> 
                <input size="7" name="cuft" />
                Cu.Ft.</td>
            </tr>
            <tr>
              <td colspan="5"> 
                <input size="7" name="hours" />
                Hours</td>
            </tr>
            <tr>
              <td colspan="5"> 
                <input size="7" name="sec-cycle-total" />
                Sec/Cycle               (Total)</td>
            </tr>
            <tr>
              <td colspan="5"> 
                <input size="7" name="sec-cycle-load-time" />
                Sec/Cycle               Load Time</td>
            </tr>
            <tr>
              <td rowspan="3" valign="top">Production Rate  <br />
                (actual total)</td>
              <td colspan="5"> 
                <input size="7" name="actual-total" />
                Pieces/Minute</td>
            </tr>
            <tr>
              <td colspan="5"> 
                <input size="7" name="pieces-hour" />
                Pieces/Hour</td>
            </tr>
            <tr>
              <td colspan="5"> 
                <input value="yes" name="C1" type="checkbox" />
                Bulk Feed Only</td>
            </tr>
            <tr>
              <td valign="top">Number of Paths</td>
              <td colspan="5"> 
                <input size="7" name="Number-of-paths-on" />
                on 
                <input size="7" name="Number-of-paths-centers" />
                &quot;               Centers</td>
            </tr>
            <tr>
              <td>Part               Discharge Height</td>
              <td colspan="5"> 
                <input size="7" name="part-discharge-height" /></td>
            </tr>
            <tr>
              <td>Paint Color and Spec.</td>
              <td colspan="5"> 
                <input size="7" name="paint-color" id="paint-color" /></td>
            </tr>
            <tr>
              <td>Prime Color and Spec</td>
              <td colspan="5"> 
                <input size="7" name="prime-color" id="prime-color" /></td>
            </tr>
            <tr>
              <td colspan="6">Orientation:</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="Diameter-to-diameter" type="checkbox" />
                Diameter               to diameter</td>
              <td width="47%" colspan="4" rowspan="11">  </td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="end-to-end" type="checkbox" />
                End to End</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="side-to-side" type="checkbox" />
                Side to Side</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="rolling" type="checkbox" />
                Rolling</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="sliding" type="checkbox" />
                Sliding</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="axis-horizontal" type="checkbox" />
                Axis Horizontal</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="axis-vertical" type="checkbox" id="axis-vertical" />
                Axis Vertical</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="axis" type="checkbox" />
                Axis
                <input size="3" name="deg-from-horizontal" />
                Deg. from Horizontal</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="face-selected" type="checkbox" />
                Face Selected</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="end-selected" type="checkbox" />
                End Selected</td>
            </tr>
            <tr>
              <td colspan="2"> 
                <input value="yes" name="radial" type="checkbox" />
                Radially Controlled</td>
            </tr>
            <tr>
              <td colspan="6" valign="top">Describe Operation being fed:  </td>
            </tr>
            <tr>
              <td colspan="6" valign="top"><textarea name="Describe-Operation-being-fed" cols="50" rows="10"></textarea></td>
            </tr>
            <tr>
              <td colspan="6" valign="top"> 
                <input value="yes" name="customer-specs" type="checkbox" id="customer-specs" />
                Customer Specs. (Provide Copy)</td>
            </tr>
            <tr>
              <td colspan="6" valign="top"> 
                <input value="yes" name="drawings" type="checkbox" id="drawings" />
                Drawings - Customer Provided Paper</td>
            </tr>
            <tr>
              <td colspan="6" valign="top"> 
                <input value="yes" name="similar-adcopy" type="checkbox" id="similar-adcopy" />
                Similar to ad copy #
                <input size="7" name="similar-adcopynum" id="similar-adcopynum" /></td>
            </tr>
            <tr>
              <td colspan="6" valign="top"> 
                <input value="yes" name="similar-specnum" type="checkbox" id="similar-specnum" />
                Similar to Spectrum Ser. #
                <input size="7" name="similar-specsernum" id="similar-specsernum" /></td>
            </tr>
          </tbody>
        </table></td>
      <td width="50%" align="left" valign="top"><table width="100%" border="0" align="center" style="margin:5px;border-bottom: solid 4px black;">
          <tbody>
            <tr>
              <td colspan="6"><h4><strong>PARTS</strong></h4></td>
            </tr>
            <tr>
              <td width="70">Name</td>
              <td colspan="5"> 
                <input size="30" name="Part-name" /></td>
            </tr>
            <tr>
              <td>Number</td>
              <td colspan="5"> 
                <input size="15" name="Part-number" /></td>
            </tr>
            <tr>
              <td>Prints</td>
              <td colspan="5"> 
                <input size="15" name="Part-prints" /> 
              <a href="https://www.dropbox.com/request/OZptH7fA4qtL7V07Kg1L?oref=e" target="_blank">UPLOAD PRINTS</a></td>
            </tr>
            <tr>
              <td>Samples</td>
              <td colspan="5"> 
                <input size="15" name="Part-samples" /></td>
            </tr>
            <tr>
              <td>Return</td>
              <td colspan="5"> 
                <input size="15" name="Part-return" /></td>
            </tr>
          </tbody>
        </table>
        <table width="100%" border="0" align="center" style="margin:5px;border-bottom: solid 4px black;">
          <tbody>
            <tr>
              <td colspan="3"><h4><strong>OPERATION RECEIVED FROM:</strong></h4></td>
            </tr>
            <tr>
              <td colspan="3"><h4><strong>CONDITION</strong></h4></td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="dry" type="checkbox" />
                Dry</td>
              <td width="60%"> 
                <input value="yes" name="clean" type="checkbox" />
                Clean  </td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="wet" type="checkbox" />
                Wet</td>
              <td> 
                <input value="yes" name="dirty" type="checkbox" />
                Dirty</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="oil-scum" type="checkbox" />
                Oil Scum</td>
              <td> 
                <input value="yes" name="delicate" type="checkbox" />
                Delicate</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="oil-dripping" type="checkbox" />
                Oil               Dripping</td>
              <td> 
                <input value="yes" name="burrs" type="checkbox" />
                Burrs</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="soft" type="checkbox" />
                Soft</td>
              <td> 
                <input value="yes" name="chips" type="checkbox" />
                Chips</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="hard" type="checkbox" />
                Hard</td>
              <td> 
                <input value="yes" name="tramp" type="checkbox" />
                Tramp</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="magnetized" type="checkbox" />
                Magnetized</td>
              <td> 
                <input value="yes" name="mixed-parts" type="checkbox" />
                Mixed Parts</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td> 
                <input value="yes" name="special-coatings" type="checkbox" />
                Special Coatings</td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="3" valign="top">Describe parts:  </td>
            </tr>
            <tr>
              <td colspan="3" valign="top"><textarea name="Describe-Parts" cols="50" rows="10" style="width:500px;"></textarea></td>
            </tr>
          </tbody>
        </table>
        <table width="100%" border="0" align="center">
          <tbody>
            <tr>
              <td colspan="5"><h4><strong>NEEDS</strong></h4></td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="Needs-track" type="checkbox" />
                Track</td>
              <td colspan="2"> 
                <input value="yes" name="Needs-clean-out-door" type="checkbox" />
                Cleanout Door</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="Needs-track-switch" type="checkbox" />
                Track Switch</td>
              <td colspan="2"> 
                <input value="yes" name="Needs-bin-elevator-covers" type="checkbox" />
                Bin &amp; Elevator Covers</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="Needs-escapement" type="checkbox" />
                Escapement</td>
              <td colspan="2"> 
                <input value="yes" name="Needs-oil-drip-pan" type="checkbox" />
                Oil Drip Pan</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="Needs-wire-to-j-box" type="checkbox" />
                Wire to J-Box</td>
              <td colspan="2">  
                <input value="yes" name="Needs-gentle-handling" type="checkbox" id="Needs-gentle-handling" />
                Gentle Handling</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-electrical-controls" type="checkbox" />
                Electrical Controls</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-electrical-design" type="checkbox" id="Needs-electrical-design" />
                Electrical Design Only</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-JIC" type="checkbox" />
                JIC</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-noise-control" type="checkbox" />
                Noise Control:  
                <!--webbot bot="Validation" s-display-name="dba @" s-data-type="String" b-allow-letters="TRUE" b-allow-digits="TRUE" -->
                
                <input size="7" name="dBA" />
                dBA               @  
                <!--webbot bot="Validation" s-display-name="dba feet" s-data-type="String" b-allow-letters="TRUE" b-allow-digits="TRUE" -->
                
                <input size="7" name="feet" />
                feet</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-casters-floor-locks" type="checkbox" />
                Casters-Floor Locks</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="Needs-Gon-support-stand" type="checkbox" />
                Gon Support Stand</td>
              <td colspan="2"> 
                <input size="7" name="Size-of-Gon" />
                Size of               Gon</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="Needs-Gon-dumper" type="checkbox" />
                GONDOLA dumper</td>
              <td colspan="2"> 
                <input size="7" name="max-wt-of-Gon" />
                Max Wt of               Gon</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-conveyor" type="checkbox" />
                Conveyor</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-load-place" type="checkbox" />
                Load               place</td>
            </tr>
            <tr>
              <td colspan="3"> 
                <input value="yes" name="Needs-inspect-sort" type="checkbox" />
                Inspect               Sort (field)</td>
            </tr>
            <tr>
              <td> 
                <input value="yes" name="Needs-weigh-and-dump" type="checkbox" />
                Weigh and Dump</td>
              <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td> </td>
              <td colspan="3"> 
                <input size="7" name="Needs-dumps-hour" />
                dumps/hour</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td colspan="3"> 
                <input size="7" name="Needs-lbs-dump" />
                lbs/dump</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td colspan="3"> 
                <input size="7" name="Needs-lbs-hour" />
                lbs/hour</td>
            </tr>
          </tbody>
        </table>
        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input name="submit" value="Send Information" type="submit" />
        <input name="reset" value=" Clear Form - Start Over" type="reset" /></td>
    </tr>
  </table>
</form>
{% endblock %}