/* -----------------------------------------
	BOOTSTRAP RESTRAIN container-lg
----------------------------------------- */

/* -----------------------------------------
	FONTS
----------------------------------------- */
@font-face {
	font-family: 'Futura Std medium';
	src: url('../assets/fonts/FuturaStd-Medium.eot');
	src: url('../assets/fonts/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/FuturaStd-Medium.woff') format('woff'),
		url('../assets/fonts/FuturaStd-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


/* -----------------------------------------
	DISPLAY TABLECELL
----------------------------------------- */
.tbl{
	height:100%;
	width:100%;
	display:table-row;
}
.box {
  display: table-cell;
  float:none !important;
}

@media only screen and (min-width : 992px) {
	.box-res {
  		display: table-cell;
  		height: 100%;
  		float:none !important;
	}
	.tbl-res{
		height:100%;
		width:100%;
		display:table;
	}
}

/* -----------------------------------------
	EFFECTS
----------------------------------------- */
.rl-shadow{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.img-wrapper img{
	max-width: 100%;
}
/* Border Bottom Shadow */
.bbshadow{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}


hr.line-1{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 98, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top:35px;
}
hr.line-2{
	border-top: 1px solid rgba(255, 98, 0, 0.75);
}

hr.line-double-line{
	border-top: 3px double #FF6200;
}

.gradient{
	background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
	background-size: cover;
  	height: 100vh;

}


/* -----------------------------------------
	FLOURISHES
----------------------------------------- */
p.flourish {
  text-align: center;     
}
p.flourish:before, p.flourish:after {
  font-family: "font awesome";
  content: "\00d7";  /* Some fancy character */
  color: #c83f3f;
  font-size:2em;
}
p.flourish:before {
  margin-right: 10px;
}
p.flourish:after {
  margin-left: 10px;
}

/* -----------------------------------------
	MARGINS
----------------------------------------- */
.img-margin-bottom{
	margin-bottom:25px;
}
.tb-margin{
	margin:25px 0;
}
@media only screen and (max-width : 992px) {
	.mobile-margins{
			margin:25px 0;
		}
}
/* -----------------------------------------
	TABLES
----------------------------------------- */
th{
	border-bottom: 1px solid black;
	text-align:center;
}
table{
	width: 100%;
	margin: 15px 0;
}
/* -----------------------------------------
	Text Styles
----------------------------------------- */
p.p-style-01,
table th,
table td{
	text-align: justify;
}
p.paragraph-small{
	text-align: justify;
    font-size: 1.2em;
    line-height: 24px;
}
p.p-style-02{
	font-size: 1.5em;
	line-height:24px;
}
p.p-style-03{
	text-align:justify;
	font-size: 12px;
}
p.p-style-04{
	text-align:justify;
	font-size: 16px;
	line-height:19px;
	font-family: 'Futura Std medium' !important;
	font-weight: 100 !important;
}
p.p-style-06{
	font-size: 1.5em;
}

p.p-style-07{
	text-align: justify;
	font-size: 1.2em;
	line-height: 24px;
	color:#fff;
}



h3.header-font{
	font-family: 'Futura Std medium' !important;
	font-weight: bold !important;
	margin-top:15px !important;
	font-size:4.5em;
	color: #FF6200;
}

h5.sub-header-font{
	font-family: 'Futura Std medium' !important;
	font-weight: bold !important;
	font-size: 1.5em !important;
	color: #111;
	margin-top: 25px;
}
h5.contact-font{
	font-family: 'Futura Std medium' !important;
	font-weight: bold !important;
	font-size: 1.5em !important;
	color: #111;
	text-transform: uppercase;
	line-height:28px;
}


.center-header{
	text-align:center;
}

/* -----------------------------------------
	BORDERS
----------------------------------------- */
.bb-1{
border-bottom: 1px solid #FF6200;
}
.bb-black{
	border-bottom: 1px solid #2b2b2b;
}
.bb-5{
border-bottom: 5px solid #FF6200;
}
.border-left{
border-left: 1px solid #FF6200;
}
.border-full{
	border: 10px solid #FF6200;
	padding:10px;
}
.border-full-black{
	border: 2px solid rgba(0, 0, 0, 0.7);
}
.border-right{
	border-right: 1px solid #FF6200;;
}
.border-top{
	border-top: 1px solid #FF6200;
}
div.line-left{
	width: 1px;
	background-color: silver;
	height: 100%;
	float: left;
	border: 1px ridge #FF6200 ;
	border-radius: 2px;
}


/* -----------------------------------------
	Media Queries
----------------------------------------- */

@media only screen and (max-width : 768px) {
	.center-header-mobile{
		text-align:center;
	}
	.image-mobile-center{
		text-align:center;
	}
	h3.header-font{
	font-size: 13vw !important;
	}
}
@media only screen and (max-width : 992px) {
	.mobile-text-center{
		text-align:center;
	}
}

@media only screen and (max-width : 480px) {
/* 		h3.header-font{
			font-size: 10vw !important;
		} */
    }

/* -----------------------------------------
	Slick Number 001
----------------------------------------- */

#title-container-001{
	padding-right:0;
}
#title-container-001 h3{
	text-align: center;
	margin: 0;
	padding: 0;
}
.wrapper{
	max-width: 100%;
	//margin:5em 1em;
}
.img-wrapper-001{
	margin:15px 0;
}
.col-001-a {
	margin-top:2em;
}

@media screen and (max-width: 570px) {
	h3.header-font-001{
		font-size: 3.8em;
		text-align: left !important;
	}
}

/* -----------------------------------------
	Slick Number 002
----------------------------------------- */
.img-wrapper-002 img{
	max-width: 100% !important;
}
#header-font-002{
	z-index:100;
	position:relative;
	top:50px;
	left:50px;
}
#row-002-c{
	margin-top:1.5em !important;
}
@media screen and (max-width: 350px) {
	#header-font-002{
		top:20px;
		font-size:1.5em !important;
	}
}

/* -----------------------------------------
	Slick Number 003
----------------------------------------- */
#column-003-a{
	position:relative;
	z-index:100;
	bottom: 150px;
}
@media screen and (max-width: 992px) {
	#column-003-a{
		position:relative;
		z-index:100;
		bottom: 0;
	}
}
/* -----------------------------------------
	Slick Number 004
----------------------------------------- */
.img-wrapper-004{
	max-width: 100%;
	position: relative;
	top: 150px;
}
.paragraph-wrap-004{
	margin-left: 40px;
}


@media only screen and (max-width : 768px) {
	.img-wrapper-004{
		top:0;
		margin: 20px 0;
	}
}

/* -----------------------------------------
	Slick Number 005
----------------------------------------- */
.paragraph-wrap-005{
	margin-top: 15px;
}

@media only screen and (max-width : 992px) {
	.img-wrapper-005{
		margin:20px 0 !important;
	}

}

/* -----------------------------------------
	Slick Number 06
----------------------------------------- */
.img-wrapper-006{
	text-align:center;
	max-width:100%;
}


.img-wrapper-006 img{
	max-width:100%;
}
p#top-paragraph-006{
	margin-top:1em;
}
@media only screen and (max-width : 992px) {
	body > div > div:nth-child(2) > div.col-md-4.col-lg-4.col-xs-8.border-left{
		border-left:none;
	}
}

@media only screen and (max-width : 425px) {
	p.p-style-06{
		font-size:1em;
	}
}

/* -----------------------------------------
	Slick Number 09
----------------------------------------- */

.img-wrapper-009b{
	position:relative;
	right:0em;
	margin: 20px 0;
	max-width:100%;
}
.img-wrapper-009a{
	margin-bottom: 25px;
	}
@media only screen and (min-width : 1440px) {
	.img-wrapper-009b{
		right:3em;
	}
}
@media only screen and (max-width : 992px) {
	.img-wrapper-009a img{
		max-width: 100%;
	}
	.img-wrapper-009b img{
		display:none;
	}
	#paragraph-left-009,
	#paragraph-right-009{
		margin-left: 40px; 
	}
}
@media only screen and (max-width :768px) {
	.img-wrapper-009a,
	.img-wrapper-009b{
		text-align: center !important;
	}
}
@media only screen and (min-width : 992px) {
	#paragraph-left-009{
	border-left:none !important;
	}
}
body > div > div:nth-child(4){
	margin-top:25px;
}
/* -----------------------------------------
	Slick Number 13
----------------------------------------- */
@media only screen and (min-width : 992px) {
	#wrapper-013{
		position:relative;
		vertical-align:bottom;
	}
}


/* -----------------------------------------
	Slick Number 18
----------------------------------------- */
@media only screen and (min-width : 992px) {
	.column-019{
	margin-top: 40px;
	}
}

/* -----------------------------------------
	Slick Number 20
----------------------------------------- */
@media only screen and (min-width : 992px) {
	.img-20{
		position:absolute;
		bottom: -80px;
	}
}
/* -----------------------------------------
	Slick Number 21
----------------------------------------- */
.p-text-021{
	margin-top: 60px;
}
.col-021{
	position: absolute;
	top:13em;
	left:1em;
}
@media only screen and (max-width : 768px) {
	.col-021{
		position: initial;
		top:0;
		left:0;
	}
}

/* -----------------------------------------
	Slick Number 22
----------------------------------------- */

@media only screen and (min-width : 992px) {
	#col-022-a,
	#col-022-b{
		vertical-align:top;
	}
	.col-022{
		position: absolute;
	    right: 200px;
	    top: 580px;
	}
}
@media only screen and (max-width : 992px) {
	.col-022{
		position: inherit;
	    right: 0;
	    top: 0;
	}

}
/* -----------------------------------------
	Slick Number 24
----------------------------------------- */
#p-container-024{
	position:absolute;
	margin-top: 5em;
	left:3em;
}
#p-container-024 p{
	padding-left:.5em;
}
.logo-wrapper-024{
	margin-right:5em;
}
@media only screen and (max-width : 768px) {
	#p-container-024{
		position: static;
		margin-top: .5em;
	}
	#p-container-024 p{
		color: #333;
	}

}

@media only screen and (min-width : 1024px) {
	#p-container-024{
		left:1em;
		
	}
}
@media only screen and (min-width : 1200px) {
	#p-container-024{
		left:2em;
		width:20%;
	}
}
@media only screen and (min-width : 1340px) {
	#p-container-024{
		left:-1em;
		width:20%;
		
	}
}

@media only screen and (min-width : 2560px) {
	#p-container-024{
		left:-7em;
		width:10%;
		
	}
}



/* -----------------------------------------
	Slick Number 25
----------------------------------------- */

.p-25-wrapper{
	padding-top: 140px;
}

#img-25-a {
    position: relative;
    left: 13em;
    top: 4em;
    z-index: 10;
}
@media only screen and (max-width : 992px) {
	#img-25-a {
	    position: inherit;
	    left: 0;
	    top: 0;
	}
	.p-25-wrapper{
		padding-top: 20px;
	}
}

/* -----------------------------------------
	Slick Number 26
----------------------------------------- */
@media only screen and (min-width : 992px) {
	.wrap-026{
		position: relative;
		left:150px;
		z-index:2;
	}

	#column-026-b{
		position: relative;
		top:200px;
	}
}
@media only screen and (min-width : 1200px) {
			#column-026-b{
		position: relative;
		top:340px;
	}

}
@media only screen and (max-width : 992px){
		#column-026-a{
		margin-top:30px;
	}
}
/* -----------------------------------------
	Slick Number 27
----------------------------------------- */
@media only screen and (min-width : 992px) {
	#wrapper-027{
		vertical-align: bottom;
	}
	#column-027-b{
		position:absolute;
		top:650px;
		right:170px;
	}

}
@media only screen and (min-width : 992px) {
	#column-027-b{
		position:absolute;
		top:660px;
		right:260px;
	}

}

/* -----------------------------------------
	Slick Number 30
----------------------------------------- */

@media only screen and (min-width : 992px) {
	#wrapper-030{
		vertical-align: bottom;
	}
}
/* -----------------------------------------
	Slick Number 32
----------------------------------------- */
#wrapper-032-a,
#wrapper-032-b{
	vertical-align:top;
}
#wrapper-032-b{
	text-align: right;
}
/* -----------------------------------------
	Slick Number 35
----------------------------------------- */
#wrapper-035{
	vertical-align: top;
}

/* -----------------------------------------
	Slick Number 37
----------------------------------------- */
.bottom-37{
	font-size: 70%; 
	vertical-align: -0.3ex;
}

.top-37{
	font-size: 70%; 
	vertical-align: 0.7ex;
}

/* -----------------------------------------
	Slick Number 39
----------------------------------------- */
.relative-39{
	position: relative;
}

.image-main-39{
	position: absolute; 
	bottom: 30px; 
	left: 20px; 
	width: 40%;
	box-shadow: none;
}

@media only screen and (max-width : 992px) {
	.image-main-39{
		width: 100%;
		position: static;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	}
}

/* -----------------------------------------
	Slick Number 81
----------------------------------------- */
.border-y{
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	padding: 15px 0;
}

/* -----------------------------------------
	Slick Number 101
----------------------------------------- */
.image-wrapper-mobile-on{
	display: none;
}
@media only screen and (max-width : 992px) {
	.image-wrapper-mobile-off{
		display: none;
	}

	.image-wrapper-mobile-on{
		display: block;
	}

	.image-wrapper-mobile-on img{
		width: 100%;
	}
}

/* -----------------------------------------
	Slick Number 105
----------------------------------------- */
p.p-style-03.text-center{
	text-align: center;
}

li.p-style-03{
	font-size: 12px;
}

/* -----------------------------------------
	Slick Number 147
----------------------------------------- */

#logo-147{
	position: absolute;
    bottom: -15em;
    right: 0em;
    z-index: 10;
}

@media only screen and (min-width : 992px) {
	#col-147-b{
		vertical-align: middle;
	}
	#logo-147{
		right:-42em;
	}
}


@media only screen and (max-width : 768px) {
	div#logo-147 img{
		max-width:80%;
	}
	div#logo-147{
		bottom: -11em;
	}
}
@media only screen and (max-width : 560px) {
		div#logo-147 img{
		max-width:50%;
	}
	div#logo-147{
		bottom: -9em;
	}
}
@media only screen and (max-width : 400px) {
	#logo-147{
		position:initial !important;
	}
}
/* -----------------------------------------
	Slick Number 148
----------------------------------------- */
h5.h5-148 a{
	text-decoration:none;
}
h5.h5-148 a:hover{
	text-decoration:none;
	font-size: 115%;
	cursor:pointer;
	opacity: .6;
	-webkit-transition: all .8s ease;
		 -o-transition: all .8s ease;
	        transition: all .8s ease;
}

h5.h5-148 a:before{
	font-family:FontAwesome;
	display: inline-block;
	content: "\f0e0";
	padding:0 10px;
}
/* -----------------------------------------
	Slick Number 149
----------------------------------------- */
