
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ website_title }} - Administration</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="{{ URL_ROOT }}templates/admin/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}
</style>

{% block extra_headers %}
{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ URL_ROOT }}templates/admin/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="{{ URL_ROOT }}admin/">{{ website_title }} - Administration</a>
					<div class="nav-collapse collapse">
						<p class="navbar-text pull-right">
							Logged in as {{ ADMIN_USER }}
						</p>
						<ul class="nav">
							<li><a href="{{ URL_ROOT }}" target="_blank">View Site</a></li>
							<!-- <li><a href="#about">About</a></li>
							<li><a href="#contact">Contact</a></li> -->
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<!-- <div class="row-fluid">
				<div class="span12">
					top bread
				</div>
			</div> -->
			<div class="row-fluid">
				<div class="span2">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Sidebar</li>
							<!-- class for active menu item is 'active' -->
							<li><a href="{{ URL_ROOT }}admin/pages/">Edit Pages</a></li>
							<li><a href="{{ URL_ROOT }}?edit=1" target="_blank">Edit Main Page</a></li>
							<li><a href="{{ URL_ROOT }}admin/videos">Manage Videos</a></li>
                            <li><a href="{{ URL_ROOT }}admin/events">Events</a></li>
							{% if USE_DIRECTORY %}
							<li><a href="{{ URL_ROOT }}admin/directory/">Directory</a></li>
							{% endif %}
							{% if USE_GALLERY %}
							<li><a href="{{ URL_ROOT }}admin/galleries/">Galleries</a></li>
							{% endif %}
							<li><a href="{{ URL_ROOT }}admin/inventory/">Inventory</a></li>
							<!-- <li><a href="{{ URL_ROOT }}admin/config/">Configuration Settings</a></li> -->
							<li><a href="{{ URL_ROOT }}admin/logout/">Logout</a></li>
							{% if ADMIN_ROOT %}
							<li class="nav-header">Root</li>
							<li><a href="{{ URL_ROOT }}admin/page/">Add a page</a></li>
							<li><a href="{{ URL_ROOT }}admin/validate/">Validate Install</a></li>
							{% endif %}
						</ul>
					</div><!--/.well -->
				</div><!--/span-->
				<div class="span10">
					{% block content %}{% endblock %}
					</div><!--/row-->
				</div><!--/span-->
			</div><!--/row-->

			<hr>
	
			<footer>
				<ul class="breadcrumb">
					<li><a href="{{ URL_ROOT }}admin/">Home</a></li>
					{% block breadcrumbs %}{% endblock %}
					<!-- <li><a href="#">Library</a> <span class="divider">/</span></li>
					<li class="active">Data</li> -->
				</ul>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&copy; EnablePoint 2013</p>
			</footer>

		</div><!--/.fluid-container-->

	</body>
</html>
