<p align="center"><img src="1.jpg" width="507" height="208"></p>
          <p>...are quality inspected at 85 to 170 pieces per minute.</p>
          <p> 10 cubic foot overhead hopper meters parts (one size at-a-time) though a demag coil into a vibratory straight-line drive with interchangeable tooling. Three sets of tooling shown below. It takes only five minutes for part changeover.</p>
          <p>Tramp material is sorted out. Diameters exceeding +/-0.06 inch are ejected. Finally, Washers are sorted for thickness between a pair of motor driven gage wheels.</p>
          <p>This model will handle up to a 2 inch diameter part size. A larger model handles 3-1/4 inch diameter Washers.</p>
          <p>The unit runs 24/7 unattended.</p>
          <p align="left">&nbsp;</p>
<p align="center"><img src="2.jpg" width="502" height="361"></p>